.GridView {
    color: blue;
    border: 1px;
    background: white;
}
.Menu {
    border: 2px;
    width: 20%;
    background: grey;
    float: left;
    height: 100vh;
    margin-left: 0;
}
.MenuHide {
    border: 2px;
    width: 2%;
    background: grey;
    float: left;
    height: 100vh;
    margin-left: 0;
}
.Content {
    margin-left: 20%;
    background: blueviolet;
}
.Title {
    background: orange;
}
.Status {
    background: yellowgreen;
}
.Hide {
    visibility: hidden;
}
.Show {
    visibility: visible;
}
